<div class="container text-center">
  <h2><u>Section Information:</u></h2>
  <h4>POSITION: <i><%= @section.position %></i></h4>
  <h4>TITLE: <i><%= @section.title %></i></h4>
  <h4>LOCATION: <i><%= @section.location %></i></h4>
</div>
