<div class="container">
  <h1>Editing Sponsor</h1>

  <%= render 'form', sponsor: @sponsor %>
  <br>
  <%= link_to 'Show', @sponsor, class:"btn btn-custom" %> |
  <%= link_to 'Back', sponsors_path, class:"btn btn-custom" %>
</div>
