<div class="container">
  <h1>Editing Page</h1>

  <%= render 'form', page: @page %>
  <br>
  <%= link_to 'Show', @page, class:"btn btn-custom" %> |
  <%= link_to 'Back', pages_path, class:"btn btn-custom" %>
</div>
